@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body {
    /* background-color: rgb(215, 233, 240); */
    background-image: url(/images/pic1.jpg);
    background-size: 120vh 100vh;
    background-repeat: no-repeat;
    font-family: 'Orbitron', sans-serif;
}

.head {
    display: inline;
    
}

.head li {
    float: right;
    display: inline;
    padding: 10px 20px;
}

.head li a {
    font-weight: bolder;
    color: #1E3A8A;
    text-decoration: none;
}

img {
    
    display: inline;
    max-width: 50px;
    max-height: 50px;
}

.container {
    position: absolute;
    margin: auto;
    width: 600px;
    height: 300px;
    right: 10%;
    max-width: 500px;
    padding: 70px 20px;
    color: #1E3A8A;
    font-size: large;
}

@media all and (max-width: 980px) {
    .container {
        margin-left: 0px;
        left: 0vh;
        font-size: large;
    }
}

h1 {
    color: #1D4ED8;
    /* display: inline; */
    line-height: 160px;
    height: 50px;
    padding-top: 50px;
    text-align: center;
}

.input {
    display: block;
    text-align: center;
}

.button {
    color: #1E3A8A;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}

#output {
    display: block;
    text-align: center;
    margin: auto;
}

h3 {
    color: #1D4ED8;
    text-align: center;
}

#table {
    margin: auto;
    padding: 2px 2px;
    font-size: large;
}

#table td {
    padding: 2px 2px;
    font-size: large;
    color: #1E3A8A;
    font-weight: 300;
}